html {
  height: 100%;

}

input {
  height: 20px;
}

button {
  height: 20px;

}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 40px;
}

img {
  height: 50px;
  width: 80px;
  margin-left: 10px;
}

.newBookmarks {
  background-color: #455A64;
  width: 50%;
  vertical-align: middle;
}

.bookmarks {
  background-color: #cfd8dc;
  width: 50%;
  align-content: center;
  overflow-y: scroll;
}

.card {
  width: 550px;
  height: 210px;
  margin: 45px;;
  border: solid 2px #607d8b;
  display: block;
  background-color: #ffffff;
  overflow: scroll;
}

.titleInput {
  height: 40px;
  width: 400px;
  margin: 20px 0;
}

.urlInput {
  height: 40px;
  width: 400px;
  margin: 20px 0;
}

.leftButtons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enter {
  padding: 20px 40px 40px 40px;
  width: 400px;
  background-color: #ffc107;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  margin: 20px 0;
  font-size: 20px;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
}

.clearRead {
  background-color: #cfd8dc;
  height: 40px;
  width: 250px;
  font-size: 15px;
  margin: 20px;
  color: #455a64;

}

.bookmarkTitle {
  border-bottom: solid 2px #cfd8dc;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #455A64;
}

.bookmarkURL {
  border-bottom: solid 2px #cfd8dc;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #455A64;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 10px;
}

.bookmarkRead {
  font-family: "Open Sans", sans-serif;
  color: #455A64;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  margin-top: 70px;
  margin-left: 10px;
}

.bookmarkRead:hover{
  border-bottom: 5px solid #ffc107;
}

.bookmarkURL:hover{
  border-bottom: 5px solid #ffc107;
}

button {
  height: 30px;
}

.bookmarkRemove {
  font-family: "Open Sans", sans-serif;
  color: #455A64;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  margin-top: 70px;
  margin-left: 390px;
}

.bookmarkRemove:hover {
  border-bottom: 5px solid #ffc107;
}

/*.read {
  background-color: #f2f4f4;
  color: #f05a28;*/
}

p {
  color: #cfd8dc;
}

.counters {
  color: #cfd8dc;
}

.counters > span {
  padding-right: 20px;
}

input {
  font-size: 25px;
}

.read {
  color: #f05a28;
}
